.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
/* навигация сайта */

.menu-conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 60px 140px;
  background-color: $bg-color;

  &.is-open {
    display: block;
  }

  .site-nav {
    margin-bottom: 60px;
    // display: flex;
    // margin-left: 85px;

    & .link {
      display: inline-block;
      padding-top: 40px;

      color: $title-text-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
  // .site-nav .item:not(:last-child) {
  //   margin-right: 50px;
  // }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

.mail {
  // display: flex;
  // margin-left: auto;

  // .item:not(:last-child) {
  //   margin-right: 32px;
  // }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;

    transition: color 250ms $transition;
  }
}

.mail-svg {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: $primary-text-color;

  transition: fill 250ms $transition;
  .mail .link:hover &,
  .mail .link:focus & {
    fill: $accent-color;
  }
}
.smartphone-svg {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: $primary-text-color;

  transition: fill 250ms $transition;

  .mail .link:hover &,
  .mail .link:focus & {
    fill: $accent-color;
  }
}
