.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.strainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .item {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.strainer .radio-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background-color: $team-bg-color;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  cursor: pointer;

  transition: color 250ms $transition, background-color 250ms $transition,
    box-shadow 250ms $transition;

  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: $accent-color;
    color: $bg-color;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;

  .title {
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }

  .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    transition: box-shadow 250ms $transition;

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-link {
  border: 1px solid $border-project;
}
.projects-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.projects .text {
  position: absolute;
  top: 0;
  right: 0;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $bg-color;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(110%);
  transition: transform 250ms $transition;
}

.projects .item .link:hover .text,
.projects .item .link:focus .text {
  transform: translateY(0);
}

.projects .imet {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
