.section-works {
  padding-bottom: 94px;
  padding-top: 47px;
}
.works {
  display: flex;

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $bg-color;
  }

  .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.works-box {
  position: relative;
}
