$transition: cubic-bezier(0.4, 0, 0.2, 1);
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$bg-color: #fff;
$footer-bg-color: #2f303a;
$team-bg-color: #f5f4fa;
$border-project: #eeeeee;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
